<% content_for(:title, t('.user_appetizers_title')) %>
<div class="container px-5 pt-12 md:pt-24 pb-10 mx-auto">
  <h1 class="text-lg sm:text-2xl font-bold my-10 text-center">
    <%= t('.user_appetizers_title') %>
  </h1>
  <% if @appetizers.present? %>
    <div class="flex flex-wrap mt-10">
      <% @appetizers.each do |appetizer| %>
        <%= render 'appetizer', appetizer: appetizer %>
      <% end %>
    </div>
  <% else %>
    <div class="flex justify-center">
      組み合わせがありません
    </div>
  <% end %>
  <div class="flex justify-center">
    <% if @appetizers.total_pages > 1 %>
      <%= paginate @appetizers %>
    <% end %>
  </div>
</div>