<header class="container mx-auto flex justify-between items-center px-5 w-full pt-5">
  <%= link_to '酒菜ネット', '#', class:"text-3xl font-bold" %>
  <div class="space-x-14 items-center text-lg font-bold">
    <%= link_to '投稿一覧', '#' %>
    <%= link_to '新規登録', '#' %>
    <%= link_to 'ログイン', '#' %>
  </div>
</header>