<% if object.errors.any? %>
  <div class="<%= flash_color_type(message_type) %> border-l-4 p-4" role="alert">
    <ul class="mb-0">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>