<footer class="footer-center bg-theme bg-opacity-50 px-8 py-4">
  <div class="flex flex-col items-center mb-2">
    <nav class="flex flex-wrap justify-center gap-x-10 gap-y-6 md:justify-start md:gap-20">
      <%= link_to '利用規約', '#' %>
      <%= link_to 'プライバシーポリシー', '#' %>
      <%= link_to 'お問い合わせ', '#' %>
    </nav>
  </div>
  <aside class="text-sm">
    <p>©︎ 2024 酒菜ネット All Rights Reserved.
  </aside>
</footer>