<% content_for(:title, t('.title')) %>
<div class="container px-5 pt-12 md:pt-24 pb-10 mx-auto">
  <h1 class="text-lg sm:text-2xl font-bold my-10 text-center"><%= t('.title') %></h1>
  <% if @posts.present? %>
    <div class="flex flex-wrap mt-10">
      <% @posts.each do |post| %>
        <%= render 'post', post: post %>
      <% end %>
    </div>
  <% else %>
    <div class="flex justify-center">
      投稿がありません
    </div>
  <% end %>
  <div class="flex justify-center">
    <% if @posts.total_pages > 1 %>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>